/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type=text],
input[type=email],
textarea {
    width: 100%;
    border-radius: $base-round;
    border-color: palette(grey, '100');
    background-color: palette(grey, '50');
    -webkit-appearance: none;
}

input[type="submit"] {
    @extend %btn;
}
