/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input[type=text],
input[type=email],
textarea {
    width: 100%;
    border-radius: $base-round;
    border-color: palette(grey, '100');
    background-color: palette(grey, '50');
    -webkit-appearance: none;
}

input[type="submit"] {
    @extend %btn;
}

.wpcf7-not-valid-tip {
    color: palette(red, '500');
}

.wpcf7-response-output {
    border-radius: $base-round;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
}

div.wpcf7-mail-sent-ok {
    background-color: palette(green, '50');
    border: 1px solid palette(green, '100');
}

div.wpcf7-validation-errors {
    background-color: palette(red, '500');
    border: none;
}
