/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
    .site-header & {
        float: left;
        width: $logo-width;
        height: $logo-height;
        display: block;
    }


    .logo-fill {
        .main-navigation--cloned & {
            fill: $color-text-main;
        }
    }
}
