/*------------------------------------*\
    #SOCIAL-MENU
\*------------------------------------*/

#social-menu {
    @extend %list-inline;
    margin-bottom: $spacing-unit--small;
    li {
        color: $color-link-secondary;
        width: 48px;
        height: 48px;
        position: relative;
        text-align: center;
        @include font-size(24px, 48px);
        @include attention() {
            color: $color-link-secondary-hover;
        }

        a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
