/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

html.fonts-loaded {
    font-family: $font-sans-serif, sans-serif;
}
